---
# https://docs.ansible.com/ansible/devel/reference_appendices/faq.html#when-is-it-unsafe-to-bulk-set-task-arguments-from-a-variable
#
# This should be safe since we use a lookup which renders a template, rather than
# accepting host facts.

- name: "containers | Run the cache/broker service ({{ django_app_docker_cache_image }})"
  community.docker.docker_container: "{{ lookup('template', 'redis-container.yml.j2') | from_yaml }}"

- name: "containers | Run the rabbitmq message broker container"
  community.docker.docker_container: "{{ lookup('template', 'rabbitmq-container.yml.j2') | from_yaml }}"
  when: django_app_docker_use_rabbitmq

- name: "containers | Run the elasticsearch container"
  community.docker.docker_container: "{{ lookup('template', 'elasticsearch-container.yml.j2') | from_yaml }}"
  when: django_app_docker_use_elasticsearch

- name: "containers | Run the django backend containers"
  community.docker.docker_container: "{{ lookup('template', 'django-container.yml.j2') | from_yaml }}"
  loop: "{{ range(docker_app_replicas) | list }}"
  loop_control:
    loop_var: docker_app_counter
    pause: "{{ django_app_docker_replicas_loop_pause }}"
  register: _django_app_replicas_container_info

# Contains a list of containers that were started/updated by the
# community.docker.docker_container play. The structure matches the output
# of a docker inspection output.
- name: containers | Register information about the webapp containers
  ansible.builtin.set_fact:
    django_app_replicas_info: "{{ _django_app_replicas_container_info.results }}"

- name: "containers | Determine the celery worker replicas"
  ansible.builtin.set_fact:
    _django_app_docker_celery_worker_replicas: "{{ lookup('template', 'celery-replicas.yml.j2') | from_yaml }}"
  when: django_app_docker_use_celery

- name: "containers | Run the celery worker containers"
  community.docker.docker_container: "{{ lookup('template', 'celery-worker-container.yml.j2') | from_yaml }}"
  loop: "{{ _django_app_docker_celery_worker_replicas }}"
  loop_control:
    loop_var: django_app_docker_celery_replica
  when: django_app_docker_use_celery

- name: "containers | Run the celery monitor container"
  community.docker.docker_container: "{{ lookup('template', 'celery-monitor-container.yml.j2') | from_yaml }}"
  when: django_app_docker_use_celery_monitor

- name: "containers | Run the celery beat container"
  community.docker.docker_container: "{{ lookup('template', 'celery-beat-container.yml.j2') | from_yaml }}"
  when: django_app_docker_use_celery_beat

- name: "containers | Run the celery flower container"
  community.docker.docker_container: "{{ lookup('template', 'celery-flower-container.yml.j2') | from_yaml }}"
  when: django_app_docker_use_flower
  register: _flower_container_info

# Contains information about the container that was started/updated by the
# community.docker.docker_container play. The structure matches the output
# of a docker inspection output.
- name: containers | Register info about the Flower container
  ansible.builtin.set_fact:
    flower_container_info: "{{ _flower_container_info }}"
