---
# Preparation for Docker environment
- name: Derive facts
  ansible.builtin.import_tasks: derive_facts.yml
- name: Setup environment
  ansible.builtin.import_tasks: setup_env.yml
- name: Install dependencies
  ansible.builtin.import_tasks: dependencies.yml
  when: django_app_docker_dependencies | length > 0
- name: Provision the volumes/persistent storage
  ansible.builtin.import_tasks: volumes.yml
- name: Setup docker network
  ansible.builtin.import_tasks: network.yml
- name: Run docker containers
  ansible.builtin.import_tasks: containers.yml
- name: Set volume permissions
  ansible.builtin.import_tasks: volumes_permissions.yml
- name: Run setup-configuration
  ansible.builtin.import_tasks: setup_configuration.yml
  when: django_app_docker_config_enable

# Cleanup
- name: Clean up facts
  ansible.builtin.import_tasks: unset_facts.yml
