---
# Deploys one container for each requested version of the assets.

- name: Install dependencies
  ansible.builtin.package:
    name: python3-docker
    state: present

- name: Provision the isolated app container network
  community.docker.docker_network:
    name: "{{ theme_assets_docker_name_prefix }}"
    internal: "{{ theme_assets_docker_network_internal }}"

- name: Run the app containers
  community.docker.docker_container:
    container_default_behavior: no_defaults
    name: "{{ theme_assets_docker_name_prefix }}-{{ item }}"
    image: "{{ theme_assets_docker_image_registry }}/{{ theme_assets_docker_image_name | mandatory }}:{{ item }}"
    hostname: "{{ theme_assets_docker_name_prefix }}-{{ item }}"
    state: "{{ theme_assets_docker_state }}"
    pull: "{{ theme_assets_docker_image_always_pull or item == 'latest' }}"
    restart: false
    restart_policy: always
    networks:
      - name: "{{ theme_assets_docker_name_prefix }}"
    networks_cli_compatible: true

    healthcheck: "{{ theme_assets_docker_healthcheck | default({}) }}"

    privileged: false
    log_driver: json-file
    log_options:
      max-size: 10m
      max-file: "10"

    memory: "{{ theme_assets_docker_memory_limit }}"
    memory_swap: "{{ theme_assets_docker_swap_memory_limit }}"
    cpus: "{{ theme_assets_docker_cpus }}"

    published_ports:
      - 8080
    comparisons:
      env: strict
      volumes: strict
  loop: "{{ theme_assets_docker_versions }}"
  loop_control:
    index_var: index
  register: _docker_container_play_output

# Contains a list of containers that were started/updated by the
# community.docker.docker_container play. The structure matches the output
# of a docker inspection output.
- name: Register information about the containers
  ansible.builtin.set_fact:
    replicas_info: "{{ _docker_container_play_output.results }}"
