---

container_default_behavior: no_defaults
name: "{{ django_app_docker_name_prefix }}-{{ docker_app_counter }}"
image: "{{ django_app_docker_image | mandatory }}"
hostname: "{{ django_app_docker_name_prefix }}-{{ docker_app_counter }}"
state: "{{ django_app_docker_state }}"
pull: yes  # always pull
restart: "{{ _django_app_docker_env_file.changed }}"
restart_policy: always
{% include 'networks.yml.j2' %}

{% if django_app_docker_enable_healthcheck %}
healthcheck: {{ django_app_docker_healthcheck }}
{% endif %}

privileged: no
log_driver: json-file
log_options:
  max-size: "{{ django_app_docker_logfile_size | default('10m') }}"
  max-file: "{{ django_app_docker_logfile_nr | default('10') }}"

labels: {{ django_app_docker_labels }}

{% include 'volumes.yml.j2' %}
{% include 'container-env.yml.j2' %}

memory: {{ django_app_docker_memory_limit }}
memory_swap: {{ django_app_docker_memory_swap_limit }}

cpus: {{ django_app_docker_cpus }}

published_ports:
  - 8000
comparisons:
  env: strict
  volumes: strict
